episcanpy_test/
*/unused_files
*.zip
*/unused_csvs
*/plot_data
*.dna
*/*.dna
*/*.fa
*/*.bed
*/*/*.svg
*.bed
*.fasta
*/plots/
*.pdf
*.docx

wt_rep4/
wt_REP2_noNA/

Nanopore_Data_Origins_Anna_Chanou/

.ipynb_checkpoints/